.bg-out {

	/* Sự kiện */

	position: absolute;
	width: 1920px;
	height: 1080px;	/* bg */
	background: radial-gradient(97.91% 60.14% at 50% 50%, #FFDB7E 0%, #FF7A00 100%);
	border-radius: 35px;
}

.bg-in {
	position: relative;
	width: 95%;
	height: 926px;
	margin: auto;
	background: linear-gradient(180deg, #FFB648 0%, #FFB648 100%);
	box-shadow: 0px 4px 27px rgba(180, 106, 38, 0.25);
	border-radius: 0px 0px 56px 56px
}

.header {
	width: 1924px;
	height: 100.82px;
	left: 0px;
	top: 0px;
	background: #ED7200;
	box-shadow: 0px 4px 35px rgba(162, 58, 0, 0.75);
	border-radius: 32px
}
.header .navbar, ul, li, a {
    float: left;
    list-style-type: none;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
    margin: 0px;
    left: 746px;
}

.header .img-little {
	position: absolute;
	width: 229px;
	height: 91px;
	left: 201px;
	top: 1px
}

.text-and-draw {
	position: relative;
	width: 100%;
	height: 226px;
}

.test-1 {
	position: absolute;
	float: left;
}

.text-sukien1 {

	/* Sự kiện 1 */
	float: left;
	width: 420px;
	position: absolute;
	left: 42.32%;
	right: 42.32%;
	top: 50%;
	bottom: 84.08%;
	font-family: iCiel Koni;
	font-style: normal;
	font-weight: 900;
	font-size: 64px;
	line-height: 100px;/* or 156% */
	display: flex;
	align-items: center;/* W */
	color: #FFFFFF;
}

.test-2 {
	position: relative;
	left: 1313.17px;
	top: -67.75px;
}

.ctn-ticket {

	/* khung chứa vé */
	position: absolute;
	width: 1520px;
	height: 654px;
	margin: 0px 0px 152px 152px;
}

.draw-container-ticket {
	position: absolute;
}

.ctn-left {
	float: left;
	position: relative;
	width: 50%;
	height: 479px;
	margin-top: 70px;
	margin-left: 58px;
}

.ctn-right {
	float: left;
	background: red;
	position: relative;
	width: 42%;
	right: 0px;
	height: 479px;
	margin-top: 70px;
	margin-right: 58px;
}

.ctn-left .img-1 {

	/* Ảnh nội dung sự kiện 1 */
	position: relative;
}

.ctn-ticket .ctn-left .ctn-left-text {
	position: absolute;
	width: 50%;
	height: 479px;
}

.ctn-ticket .ctn-left .ctn-left-text b, span {
	position: relative;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 28px;/* or 150% */
	display: block;
	align-items: center;
	text-align: justify;
}

.ctn-ticket .ctn-right {
	width: 50%;
}
