
/* CSS của trang chủ */

body {
	width: 1920px;
	height: 1080px;
}

.hoa-sen {

	/* Hình hoa sen */
	position: absolute;
	width: 181px;
	height: 145px;
	left: 200px;
	right: 865.728px;
	top: 153.6px;
	bottom: 784.512px;
}

.dam-sen-park h1 {

	/* ĐẦM SEN */
	position: absolute;
	width: 322px;
	height: 100px;
	left: 397px;
	top: 89px;
	font-family: iCiel Koni;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 78px;/* identical to box height, or 139% */

	/* W */
	color: #FFFFFF;
}

.image3 {
	position: absolute;
	left: 1029px;
	right: 774px;
	top: 95px;
	bottom: 811px;
}

.image2 {

	/* 18451 [Converted]-03 1 */
	position: absolute;
	left: 807px;
	right: 969px;
	top: 183px;
	bottom: 692px;
}

.image4 {

	/* render fix hair 1 */
	position: absolute;
	width: 788px;
	height: 443px;
	left: 1052px;
	top: 23px;
	right: 80px;
	bottom: 614px;
}

.image6 {

	/* 18451 [Converted]-06 1 */
	position: absolute;
	width: 147.37px;
	height: 210px;
	left: 18px;
	top: 321px;
}

.main {

	/* main chính */
	position: absolute;
	width: 1520px;
	height: 600px;
	left: 201px;
	top: 361px;
}

.main-bg-mid {

	/* Ranh giữa hai bg main */
	position: absolute;
	left: 59.67%;
	right: 31.05%;
	top: 0%;
	bottom: 2.7%;
}

.main-bg1 {

	/* bg bên phải */
	position: absolute;
	left: 64.47%;
	right: 0.07%;
	top: 0.04%;
	bottom: 0%;
}

.main-bg1 p {

	/* VÉ CỦA BẠN */
	position: absolute;
	top: 0px;
	left: -20px;
}

.main-bg {

	/* bg bên trái */
	position: absolute;
	left: 0%;
	right: 37.5%;
	top: 0%;
	bottom: 0%;
}

.ticket-title {

	/* Đầu tiêu đề ticket */
	position: absolute;
	width: 284px;
	height: 80px;
	left: 1309px;
	top: 346px;
	filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));
}

.ticket-title  p {

	/* VÉ CỦA BẠN */
	position: absolute;
	width: 165.12px;
	height: 41px;
	left: 61.04px;
	right: 57.83px;
	top: -15px;
	bottom: 27px;
	font-family: iCiel Koni;
	font-style: normal;
	font-size: 28px;
	line-height: 41px;
	color: #FFFFFF;
}

.register {
	position: absolute;
	width: 467px;
	height: 317px;
	left: 66.84%;
	right: 2.43%;
	top: 14.5%;
	bottom: 23.17%;
}

.family-package select {

	/* Input package */
	position: absolute;
	width: 398px;
	height: 56px;
	left: 0px;
	top: 0px;
	background: #FFFFFF;
	box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
	border-radius: 16px;
}

.number-of-ticket input {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	width: 150px;
	height: 56px;
	left: 0px;
	top: 72px;/* W */
	background: #FFFFFF;/* inner shadow */
	box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
	border-radius: 16px;
}

.date-start input {
	position: absolute;
	width: 224px;
	height: 56px;
	left: 174px;
	top: 72px;/* W */
	background: #FFFFFF;/* inner shadow */
	box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
	border-radius: 16px;
}

.full-name input {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	width: 467px;
	height: 66px;
	left: 0px;
	top: 144px;
	background: #FFFFFF;
	box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
	border-radius: 16px;
}

.phone input {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	width: 467px;
	height: 66px;
	left: 0px;
	top: 226px;
	background: #FFFFFF;
	box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
	border-radius: 16px;
}

.email input {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	width: 467px;
	height: 66px;
	left: 0px;
	top: 308px;
	background: #FFFFFF;
	box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
	border-radius: 16px;
}
