body {
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(97.91% 60.14% at 50% 50%, #FFDB7E 0%, #FF7A00 100%);
    top: -18.3px;
    left: 0px;
    margin: auto;
    display: block;
}

.background {
    display: block;
    width: 95%;
    background-color: #FFD000;
    height: 910px;
    margin: auto;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #ED7200;
    box-shadow: 0px 4px 35px rgba(162, 58, 0, 0.75);
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%
}

.header .navbar {
    position: absolute;
    left: 765px;
    width: 890px;
    height: 42px;
    top: 25px
}

ul {
    list-style-type: none
}

.header .navbar .a {
    text-decoration: none;
    position: static;
    width: 96px;
    height: 22px;
    left: 24px;
    top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px
}

.header .img {
    position: absolute;
    width: 229px;
    height: 91px;
    left: 201px;
    top: 11.5px
}

.header .navbar .a1 {
    text-decoration: none;
    position: static;
    width: 97px;
    height: 20px;
    left: 80px;
    top: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px
}

.img .img-1 {
    position: absolute;
    left: 93.6px;
    right: 80.16%;
    top: 135px;
}

.img .img-2 {
    position: absolute;
    left: 735px;
    top: 174px;
}

.img .text {
    position: absolute;
    top: 85.22px;
    left: 310px;
}

.img .text #text1 {
    color: #FFFFFF;
    width: 330px;
    height: 10px;
    font-family: iCiel Koni;
    font-style: normal;
    font-weight: 900;
    font-size: 61px;
    line-height: 50px;
}

.img .text #text2 {
    color: #FFFFFF;
    width: 197px;
    font-family: iCiel Koni;
    font-style: normal;
    font-weight: 900;
    font-size: 61px;
    line-height: 35px;
}

.img .img-3 {
    /*Bóng vàng đỏ*/
    position: absolute;
    left: 53.59%;
    right: 40.31%;
    top: 103.2px;
    bottom: 75.63%;
}

.img .img-4 {
    /*Ảnh nhiều người*/
    /* render fix hair 1 */
    position: absolute;
    width: 755px;
    height: 412px;
    left: 1052px;
    top: 31px;
}

.body {
    margin: AUTO;
    width: 91%;
    display: block;
}

.body .block-1 {
    position: relative;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    height: 100%;
    background: #FDE8B3;
    padding: 5px;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}

.body .block-1 .block-1-1 {
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    background: #FFF6D4;
    width: 95%;
    height: 95%;
    margin: auto;
    margin-top: 8px;
    display: block;
}

.body .block-1 .block-1-1 .block-1-1-text {
    padding: 10px;
    font-size: 20px;
    color: black;
    opacity: 1;
}

.body .block-1 .block-1-1 .block-1-1-text .img-Lisa img {
    position: absolute;
    width: 320px;
    height: 393.5px;
    left: -158px;
    top: 150px;
}

.body .block-2 {
    position: relative;
    box-sizing: border-box;
    background-color: #FDE8B3;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}

.body .block-2 .block-2-1 {
    position: none;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    background: #FFF6D4;
    width: 95%;
    height: 95%;
    margin: auto;
    display: block;
    margin-top: 15px;
}

.body .block-1 .block-1-1 .text-news {
    width: 80%;
    text-align: right;
}

.body .block-2 .block-2-1 .ticket {
    margin: auto;
    height: 76.33829498291016px;
    width: 284px;
    left: 1309px;
    top: 346px;
    padding: 5px;
    background: linear-gradient(176.02deg, #FF000A -12.67%, #C2000B 101.08%);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 53%;
    border-bottom-left-radius: 53%;
}

.body .block-2 .block-2-1 .ticket .ticket-1 {
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 100%;
    border: 1px dashed #FFFFFF;
    border-bottom-right-radius: 53%;
    border-bottom-left-radius: 53%;
}

.body .block-2 .block-2-1 .ticket .ticket-1 .text-ticket {
    font-family: iCiel Koni;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 18.5px;
    /* W */
    color: #FFFFFF;
}

.block-2 .block-2-1 .contact-form-list {
    text-align: left;
    margin-left: 10%;
}

.block-2 .block-2-1 .contact-form-list .input-text {
    position: static;
    width: 87px;
    height: 26px;
    left: 16px;
    top: 20px;
    /* 18 medium */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    /* Ultimate Gray */
    color: #989A9C;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 15px 10px;
}

.block-2 .block-2-1 .contact-form-list .form-group input, select {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 11px;
}

.block-2 .block-2-1 .contact-form-list .form-group .select select {
    /* Chọn gói */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 11px;
}

.block-2 .block-2-1 .contact-form-list .form-group .form-ngang input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 185px;
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 11px;
}

.block-2 .block-2-1 .contact-form-list .form-group .input-3 input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 11px;
}

.block-2 .block-2-1 .contact-form-list .form-group .input-4 input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 11px;
}

.block-2 .block-2-1 .contact-form-list .form-group .input-5 input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 11px;
}
.block-2 .block-2-1 .contact-form-list .input-submit{
    padding-top: 10px;
    width: 80%;
}
.block-2 .block-2-1 .contact-form-list .input-submit input {
    background-color: #FF000A;
    color: white;
    width: 100%;
    height: 45px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}